src/main/webapp/wsdl/WSPayerImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://payer.webservices.auth.istv.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://payer.webservices.auth.istv.com" xmlns:intf="http://payer.webservices.auth.istv.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://payer.webservices.auth.istv.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="payer">
    <complexType>
     <sequence>
      <element name="libelle" type="xsd:string"/>
      <element name="montant" type="xsd:float"/>
      <element name="idCompte" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="payerResponse">
    <complexType>
     <sequence>
      <element name="payerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="payerRequest">

      <wsdl:part element="impl:payer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payerResponse">

      <wsdl:part element="impl:payerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSPayerImpl">

      <wsdl:operation name="payer">

         <wsdl:input message="impl:payerRequest" name="payerRequest">

       </wsdl:input>

         <wsdl:output message="impl:payerResponse" name="payerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSPayerImplSoapBinding" type="impl:WSPayerImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="payer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="payerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSPayerImplService">

      <wsdl:port binding="impl:WSPayerImplSoapBinding" name="WSPayerImpl">

         <wsdlsoap:address location="http://tempuri.org/TP_Spring/services/WSPayerImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
